:root {
  background-color: #121212; 
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}

.app-container {
  min-height: 100vh;
  min-width: 460px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.nav {
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  z-index: 10;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
}

.nav__fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  opacity: 0;
  
  background-color: rgba(18, 18, 18, 0.85);
  backdrop-filter: blur(10px); 
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

  transition: opacity 0.3s ease;

  z-index: 100;
  pointer-events: none;
}

.nav__fixed.visible {
  opacity: 1;
  pointer-events: auto;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: #d8d8d8;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.links a:hover {
  color: rgb(0, 0, 0);
}

.links_home {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  gap: 10px;
  padding: 5px;
  color: #d8d8d8;
  border-radius: 5px;
  cursor: pointer;
  transition: color, background-color 0.3s ease-in-out;
}

.links_home:hover {
  color: #000;
  background-color: #fff;
}

.home__separator {
  margin: 0 10px;
  padding-top: 5px;
}

.home__img {
  width: 24px;
  height: 24px;
}

.home__descr {
  font-size: 16px;
  margin: 0;
  transition: color 0.3s ease-in-out;
}

.snow_btn {
  background: transparent;
  border: 1px solid #333;
  color: white;
  padding: 6px;
  padding-bottom: 3px;
  border-radius: 6px;
  cursor: pointer;
  transition: color, background-color 0.3s ease-in-out;
}

.snow_btn:hover {
  background: rgb(41, 41, 41);
}

.snow_btn__svg {
  width: 16px;
  height: 16px;
  stroke: #fff;
}

.snow_btn__svg__bigger {
  width: 20px;
  height: 20px;
  stroke: #fff;
}

.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.8rem;
  color: #444;
}